
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  font-weight: 200;


}
h2{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #A6937C;
}
.conteTitulo{
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.menu{

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;

  color: #A6937C;

}
.menu:hover{

  color: #E3F2FD;
  background-color: #735645;
}
.titulo-slider{
  font-family: 'Montserrat', sans-serif;
  font-size: 58px;
  font-weight: 200;
  color: #261C14;
}
.btn1{
  background: #261C14;
  color: #A6937C;
  font-size: 18px;
  border: none;
}
.btn1:hover{
  background: #735645;
  color: #E3F2FD;
}
.pie-pagina{
  background: #353734;
}
.formulario-contacto{
  background: #735645;
  padding: 1.5em;
  border-radius: 5px;
}
.card1{

  border: 2px solid #735645;
  border-top-left-radius: 30px;
}
.card2{

  border: 2px solid #353734;
  border-bottom-left-radius: 30px;
}
