
h1{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 60px;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;font-weight: 200;
}

section.servicios{
  padding: 2.5em 1em;
}

.conteTitulo{
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.col.no-gutters{
  padding: 0;
}

.login-info {
  background-color: #AEE6FA;
  overflow: hidden;
  padding: .2em 1.5em;
}
.menu{

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #A6937C;

}
.menu:hover{

  color: #fff;
  background-color: black;
}

.servicios .card{
  margin-bottom: 2em;
}