
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  font-weight: 200;


}
h2{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #A6937C;
}
h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 200;
  color: #E3F2FD;
}
section.servicios{
  padding: 2.5em 1em;
}

.conteTitulo{
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.col.no-gutters{
  padding: 0;
}

.login-info {
  background-color: #AEE6FA;
  overflow: hidden;
  padding: .2em 1.5em;
}
.menu{

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;

  color: #A6937C;

}
.menu:hover{

  color: #E3F2FD;
  background-color: #735645;
  transition-property: color;
	transition-duration: 300ms;
	transition-timing-function:linear;
}
.titulo-slider{
  font-family: 'Montserrat', sans-serif;
  font-size: 58px;
  font-weight: 200;
  color: #A6937C;
}
.btn1{
  background: #261C14;
  color: #A6937C;
  font-size: 18px;
  border: none;
  transition-property: background;
	transition-duration: 300ms;
	transition-timing-function: ease;
  transition-property: color;
	transition-duration: 300ms;
	transition-timing-function:linear;
}
.btn1:hover{
  background: #735645;
  color: #E3F2FD;
}
.pie-pagina{
  background: #353734;
}
.formulario-contacto{
  background: #735645;
  padding: 1.5em;
  border-radius: 5px;
}
.card1{

  border: 2px solid #735645;
  border-top-left-radius: 30px;
}
.card2{

  border: 2px solid #353734;
  border-bottom-left-radius: 30px;
}

.servicios .card{
  margin-bottom: 2em;
}
.slider-info{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5px 40px;
  margin-bottom: 7%;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;

}
.acerca{
  background: #E3F2FD;
  padding: 1.5em;
  border-radius: 1% 5%;
  box-shadow: 2px 2px 5px #999;
}
.about{
  background: #261C14;
  color: #E3F2FD;
  padding: 0.5em;
  vertical-align: bottom;
}
.formulario{
  width: 100%;
  margin: auto;
  background: rgba(166, 147, 124, 0.6);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.tituloFormulario{
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
.inputFormulario{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 16px;
  border: none;
}
.textFormulario{
  min-height: 50px;
  max-height: 200px;
  max-width: 100%;
}
